<div class="container m-t-4 m-b-4">

    <div class="row">
        <div class="col-12">
          <h1>Tiendas</h1>
        </div>
      </div>

  <div class="row m-b-2">
    <div class="col-8">
        <input type="text" class="form-control" [(ngModel)]="searchTienda" placeholder="Buscar tienda">
        
    </div>
    <div class="col-4">
        <button class="btn btn-primary float-right" [routerLink]="['/tiendas/new']">Nueva Tienda</button>
    </div>
  </div>
 
  
  <div class="table-responsive">
      <table class="table ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Dirección</th>
              <th scope="col">Teléfono</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tienda of tiendas | filterdata: searchTienda : 'nombre' ; let i = index">
              <th scope="row">{{ i +1 }}</th>
              <td>{{ tienda.nombre | uppercase }}</td>
              <td>{{ tienda.direccion }}</td>
              <td>{{ tienda.telefono }}</td>
              <td>
                <button class="btn btn-danger float-right" (click)="eliminar(tienda)">Eliminar tienda</button>
                <button class="btn btn-info float-right m-r-1" [routerLink]="['/tiendas/'+tienda.id]">Ver detalle</button>
                
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  
  
</div>