<div class="container m-t-4 m-b-4">

  <div class="row">
    <div class="col-12">
      <h1 *ngIf="!disabledForm">Registrar nueva Tienda</h1>
      <h1 *ngIf="disabledForm">Detalle de Tienda</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="tienda.nombre" [disabled]="disabledForm"
          placeholder="Escribir nombre">
      </div>
      <div class="form-group">
        <label for="nombre">Dirección</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="tienda.direccion" [disabled]="disabledForm"
          placeholder="Escribir nombre">
      </div>
      <div class="form-group">
        <label for="nombre">Teléfono</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="tienda.telefono" [disabled]="disabledForm"
          placeholder="Escribir nombre">
      </div>

      <button class="btn btn-default m-r-1" [routerLink]="['/tiendas']">Salir</button>
      <button class="btn btn-primary m-r-1" (click)="guardar()">Guardar</button>
      <button class="btn btn-success" (click)="addHorario()">Add Horario</button>

      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nombre">Horarios</label>
      </div>

      <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hora inicio</th>
            <th scope="col">Hora Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horario of horarios; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="horario.nombre" placeholder="Nombre horario">
            </td>
            <td>
              <input type="time" class="form-control" id="start_time" [(ngModel)]="horario.start_time" placeholder="Hora inicio">
            </td>
            <td>
              <input type="time" class="form-control" id="end_time" [(ngModel)]="horario.end_time" placeholder="Hora fin">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>







</div>