
    <carousel *ngIf="slides">
        <slide *ngFor="let slide of slides; let i = index">
          <img [src]="slide.image" alt="first slide" style="display: block; width: 100%;">
          <div class="shadow-carrousel">
              <div class="carousel-caption d-none d-md-block">
                  <h3>{{ slide.title | uppercase }}</h3>
                  <p>{{ slide.subtitle }}</p>
              </div>
          </div>
        </slide>
    </carousel>
