<div class="card">
    <div class="card-body">
            <h2>{{ tienda.nombre }}</h2>
            <p>{{ tienda.direccion }}</p>
            <p><button class="btn btn-secondary"  (click)="actionSelected()" >Ver detalle »</button></p>
    </div>
</div>

<!-- [routerLink]="['/tiendas/'+tienda.id]" -->