<div class="m-b-4">
    <app-slides [slides]="slides" ></app-slides>
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 m-b-2" *ngFor="let tienda of tiendas">
            <card-tienda [tienda]="tienda" (onSelected)="verDetalle($event)" ></card-tienda>
        </div>
    </div>
</div>
