/* You can add global styles to this file, and also import other style files */

@for $i from 1 through 10 {
    $size: 10 * $i;
    .m-t-#{$i} {
        margin-top: #{$size}px;
    }
}

@for $i from 1 through 10 {
    $size: 10 * $i;
    .m-b-#{$i} {
        margin-bottom: #{$size}px;
    }
}

@for $i from 1 through 10 {
    $size: 10 * $i;
    .m-r-#{$i} {
        margin-right: #{$size}px;
    }
}

