<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="/assets/icons/svg/shopping-bag.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Stores
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!---->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tiendas']"  >Tiendas</a>
      </li>
    </ul>
  </div>
</nav>